<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div id="logo" style="float:left;width:15%">
      <a href="">
      <img src="http://www.texasintl.edu.np/assets/upload/images/config/logo.png" 
      alt="Texas International College" title="Texas International College">
      </a>
    </div>
    <ul class="nav navbar-nav">
        <li><a routerLink="/book" routerLinkActive="active">Book</a></li>
        <li><a routerLink="/members" routerLinkActive="active">Members</a></li>  
        <li><a routerLink="/request" routerLinkActive="active">Request</a></li>    
        <li><a routerLink="/transaction" routerLinkActive="active">Transaction</a></li>    
    </ul>
    <div id="login" style="float:right">
      <app-login></app-login>
    </div>
  </div>
</nav>